<button *ngIf="!this.hasStarted()" (click)="startQuestionaire()">
  {{ this.getStartQuestionaireText() }}
</button>

<button *ngIf="this.hasStarted()" (click)="stopQuestionaire()">
  {{ this.getStopQuestionaireText() }}
</button>

<p>{{ this.getProblemMessage() }}</p>

<div *ngIf="!this.hasStarted(); else questionDisplay">
  <p>{{ this.getGreetingMessage() }}</p>
</div>

<ng-template #questionDisplay>
  <p>{{ this.getProgressMessage() }}</p>
  <p>{{ this.getQuestionDisplayText() }}</p>
  <input type="text" [(ngModel)]="this.questionSpelling" />
  <button type="submit" (click)="checkAnswer()">
    {{ this.getAnswerSubmitText() }}
  </button>
</ng-template>

<p *ngIf="this.isTraining">{{ this.display }}</p>

<p *ngIf="this.isFinishedAssessment()">
  {{ this.getQuestionaireStatisticsMessage() }}
</p>
