<button *ngIf="!this.hasStarted()" (click)="startQuestionaire()">
  {{ this.startQuestionaireText() }}
</button>

<button *ngIf="this.hasStarted()" (click)="stopQuestionaire()">
  {{ this.stopQuestionaireText() }}
</button>

<p>{{ this.problemMessage() }}</p>

<div *ngIf="!this.hasStarted(); else questionDisplay">
  <p>{{ this.greetingText() }}</p>
</div>

<ng-template #questionDisplay>
  <p>{{ this.progressMessage() }}</p>
  <p>{{ this.getQuestionDisplay() }}</p>
  <input type="text" [(ngModel)]="this.questionSpelling" />
  <button type="submit" (click)="checkAnswer()">{{ this.getAnswerSubmitText() }}</button>
  <p *ngIf="this.isTraining">{{ this.display }}</p>
</ng-template>
