<div>
  <h3 class="border-bottom">Enter a new Word Pair:</h3>
  <form>
    <div class="form-group">
      <select
        name="leftWordLanguage"
        id="leftWordLanguage"
        [(ngModel)]="this.leftLanguage"
      >
        <option
          *ngFor="let language of this.language | keyvalue"
          [ngValue]="language.value"
        >
          {{ language.value }}
        </option>
      </select>
      <input
        type="text"
        name="leftWordSpelling"
        id="leftWordSpelling"
        [(ngModel)]="this.leftSpelling"
      />
    </div>

    <div class="form-group">
      <select
        name="rightWordLanguage"
        id="rightWordLanguage"
        [(ngModel)]="this.rightLanguage"
      >
        <option
          *ngFor="let language of this.language | keyvalue"
          [ngValue]="language.value"
        >
          {{ language.value }}
        </option>
      </select>
      <input
        type="text"
        name="rightWordSpelling"
        id="rightWordSpelling"
        [(ngModel)]="this.rightSpelling"
      />
    </div>

    <div *ngIf="this.hasErrorMessage()" class="alert alert-danger">
      <p>{{ this.errorMessage }}</p>
    </div>

    <button class="btn btn-primary" type="submit" (click)="submitWordPair()">
      Add new WordPair
    </button>
  </form>
</div>
