<div>
  <h1>Enter a new Word Pair:</h1>
  <form>
    <select
      name="leftWordLanguage"
      id="leftWordLanguage"
      [(ngModel)]="this.leftLanguage"
    >
      <option
        *ngFor="let language of this.language | keyvalue"
        [ngValue]="language.value"
      >
        {{ language.value }}
      </option>
    </select>
    <input
      type="text"
      name="leftWordSpelling"
      id="leftWordSpelling"
      [(ngModel)]="this.leftSpelling"
    />

    <select
      name="rightWordLanguage"
      id="rightWordLanguage"
      [(ngModel)]="this.rightLanguage"
    >
      <option
        *ngFor="let language of this.language | keyvalue"
        [ngValue]="language.value"
      >
        {{ language.value }}
      </option>
    </select>
    <input
      type="text"
      name="rightWordSpelling"
      id="rightWordSpelling"
      [(ngModel)]="this.rightSpelling"
    />

    <p>{{ this.errorMessage }}</p>

    <button type="submit" (click)="submitWordPair()">Add new WordPair</button>
  </form>
</div>
