<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">HRM Vocabulary Trainer</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/wordlist-management" class="nav-link"
          >Wordlist Management</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/training" class="nav-link">Training</a>
      </li>
      <li class="nav-item">
        <a routerLink="/assessment" class="nav-link">Assessment</a>
      </li>
    </ul>
</nav>
