<div>
  <form>
    <div class="form-group">
      <b class="mr-3">{{ this.getLeftLanguageText() }}</b>
      <input
        [disabled]="!this.isEditable"
        type="text"
        name="leftWordSpelling"
        [(ngModel)]="this.leftWordSpelling"
      />
    </div>
    <div class="form-group">
      <b class="mr-3">{{ this.getRightLanguageText() }}</b>
      <input
        [disabled]="!this.isEditable"
        type="text"
        name="rightWordSpelling"
        [(ngModel)]="this.rightWordSpelling"
      />
    </div>

    <div *ngIf="!this.isEditable">
      <button class="btn btn-primary btn-sm" (click)="editWordPair()">
        Edit
      </button>
      <button class="btn btn-danger btn-sm" (click)="deleteWordPair()">
        Delete
      </button>
    </div>

    <div *ngIf="this.isEditable">
      <button class="btn btn-warning btn-sm" (click)="cancelEdit()">
        Cancel Edit
      </button>
      <button class="btn btn-info btn-sm" (click)="updateWordPair()">
        Save
      </button>
    </div>

    <div *ngIf="this.hasErrorDisplay()" class="alert alert-danger">
      <p>{{ this.errorDisplay }}</p>
    </div>
  </form>
</div>
