<div>
  <h3 class="border-bottom">Word Pairs:</h3>

  <form>
    <div class="form-group">
      <button class="btn btn-primary btn-sm" (click)="sortWordList()">
        Sort by Language
      </button>
      <select
        class="form-select form-select-lg mb-3"
        name="leftWordLanguage"
        id="leftWordLanguage"
        [(ngModel)]="this.sortingLanguage"
      >
        <option
          *ngFor="let language of this.wordListLanguages | keyvalue"
          [ngValue]="language.value"
        >
          {{ language.value }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-danger btn-sm" (click)="clearWordPairs()">
        Clear list
      </button>
    </div>
  </form>

  <ul class="list-group list-group-flush">
    <li
      class="list-group-item d-flex justify-content-center"
      *ngFor="let wordPair of wordlist.wordPairs; let i = index"
    >
      <app-wordpair
        [wordPair]="wordPair"
        [index]="i"
        (wordPairChanged)="this.updateWordPair($event)"
        (wordPairDeleted)="this.removeWordPair($event)"
      ></app-wordpair>
    </li>
  </ul>
</div>
