<div>
  <form>
    <div>
      <b>{{ this.getLeftLanguageText() }}</b>
      <input
        [disabled]="!this.isEditable"
        type="text"
        name="leftWordSpelling"
        [(ngModel)]="this.leftWordSpelling"
      />
    </div>
    <div>
      <b>{{ this.getRightLanguageText() }}</b>
      <input
        [disabled]="!this.isEditable"
        type="text"
        name="rightWordSpelling"
        [(ngModel)]="this.rightWordSpelling"
      />
    </div>

    <div *ngIf="!this.isEditable">
      <button (click)="editWordPair()">Edit</button>
      <button (click)="deleteWordPair()">Delete</button>
    </div>

    <div *ngIf="this.isEditable">
      <button (click)="cancelEdit()">Cancel Edit</button>
      <button (click)="updateWordPair()">Save</button>
    </div>

    <p>{{ this.errorDisplay }}</p>
  </form>
</div>
