<h1>Training</h1>

<button (click)="startTraining()">Start training</button>
<button (click)="stopTraining()">Stop training</button>

<div *ngIf="!this.hasStarted; else questionDisplay">
  <p>Clilck "Start training to beginn.</p>
</div>
<ng-template #questionDisplay>
  <div *ngIf="this.questionMode; else pauseMode">
    <p>{{ this.getQuestionDisplay() }}</p>
    <input type="text" [(ngModel)]="this.questionSpelling" />
    <button type="submit" (click)="checkAnswer()">Submit your Answer</button>
  </div>
</ng-template>

<ng-template #pauseMode>
  <button (click)="nextQuestion()">Get next Word</button>
</ng-template>

<p>{{ this.display }}</p>
