<h1>Training</h1>

<button *ngIf="!this.hasStarted" (click)="startTraining()">
  Start training
</button>
<button *ngIf="this.hasStarted" (click)="stopTraining()">Stop training</button>

<div *ngIf="!this.hasStarted; else questionDisplay">
  <p>Click "Start training to beginn.</p>
</div>
<ng-template #questionDisplay>
  <div *ngIf="this.questionMode; else pauseMode">
    <p>Next Question</p>
    <p>{{ this.getQuestionDisplay() }}</p>
    <input type="text" [(ngModel)]="this.questionSpelling" />
    <button type="submit" (click)="checkAnswer()">Submit your Answer</button>
  </div>
  <p>{{ this.display }}</p>
</ng-template>

<ng-template #pauseMode>
  <button (click)="nextQuestion()">
    {{ this.getNextQuestionButtonText() }}
  </button>
</ng-template>
